includes:
    - 'vendor/phpstan/phpstan-phpunit/extension.neon'
    - 'vendor/phpstan/phpstan-phpunit/rules.neon'

parameters:
    bootstrapFiles:
       - vendor/autoload.php
    level: 8
    paths:
        - 'Client'
        - 'DataCollector'
        - 'Event'
        - 'Exception'
        - 'Listener'
        - 'Metric'
        - 'Tests'
